<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <%= link_to "All restaurants", restaurants_path, class: 'navbar-brand btn btn-secondary'  %>
    <%= link_to "Add restaurant", new_restaurant_path, class: 'navbar-brand btn btn-success'  %>
  </nav>
  <div class= "container text-center">
    <%= yield %>
  </div>
  </body>
</html>
